# --- Python / uv ---
.venv/
__pycache__/
*.py[cod]
*$py.class
.python-version

# Py Installer
TimeCalc.spec

# --- Build / Packaging (pyinstaller) ---
build/
dist/
*.egg-info/

# --- macOS System Files ---
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# --- IDE / Editors ---
.vscode/
.idea/
*.swp